*{
   box-sizing: border-box;
    margin: 0;
    font-family:"didot-w01-italic,serif";
 }
.h1,h2,h3,h4,h5,h6{
    background-color: blue;
    background-image: url("paper.gif");
    
}

.section1 .navbar{
    padding: 15px 3%;
    opacity: 1;
    background-color:	white;
     
}
.navbar{
    display: flex;
    justify-content: space-between;
   
}

header .navbar{
    padding: 2px 3%;
    opacity: 1;
    background-color:white;
     
}
header li:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    color:  rgb(246 223 235);
}
